<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Agregar Factura</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div>
    <div th:insert="fragments/nav :: nav"></div>
        <div class="container" style="padding-top: 10vh; display: flex; flex-direction: column; align-items: center;">
            <div class="container">
      <h1 style="text-align: center;">Agregar una factura</h1>
      <h2 style="text-align: center;">Llena todos los campos y al finalizar da clic en "Agregar factura"</h2>

     
                <div class="row">
                    <div class="form-group col-sm">

        <form th:action = "@{/crear/factura}" th:object="${factura}" method="post" class="text" >

            <label for="Datos Factura"><strong>Datos Factura</strong></label><br/>

            <label for="numerofactura">¿Cuál es el número de la factura?</label><br/>
            <input type="text" class="form-control" id="numerofactura" aria-describedby="codproducto" placeholder="Ej. FAC005" th:field ="*{numeroFactura}" name = 'cod_vendedor' required>
            <br>
            <label for="codigoproducto">¿Cuál es el código del producto?</label><br/>
            <input id="codigoproducto" type="text" class="form-control" placeholder="Código del producto" name = 'nombre' th:field = "*{codigoProducto}" required>
            <br/>
            <label for="fecha">¿Cuál es la fecha de la factura?</label><br/>
            <input id="fecha" type="date" class="form-control" name = 'fecha' th:field = "*{fechaVenta}" required>
            <br/>
            <label for="codigovendedor">¿Cuál es el código del vendedor?</label><br/>
            <input id="codigovendedor" type="text" class="form-control" placeholder="Cód. Vendedor" name = 'codigo' th:field = "*{codigoVendedor}" required>
            <br/>
            <label for="valorfactura">¿Cuál es el precio del producto?</label><br/>
            <input id="valorfactura" type="number" class="form-control" placeholder="Precio" name = 'codigo' th:field = "*{valorFactura}" required>
            <br/>
            <div class="text-center">
            <button class="btn btn-success" type = "submit">Agregar Factura</button>
            </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>


</html>
<!--<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cear Factura</title>
        <meta charset="UTF-8"> </meta>
        
    </head>
    <body>
        <h1>Forma para creación de Factura</h1>
        <form th:action = "@{/crear/factura}" th:object="${factura}" method="post">
            <label> Número de factura </label>
            <input id = "numerofactura" type="text" th:field ="*{numeroFactura}"/>
            <label> Código del Producto </label>
            <input id = "codigoproducto" type="text" th:field ="*{codigoProducto}"/>
            <label> Fecha de venta  </label>
            <input id = "fecha" type="date" th:field = "*{fechaVenta}"/> <br/><br/>
            <label> Código del Vendedor</label>
            <input id = "codigovendedor" type="text" th:field = "*{codigoVendedor}"/> 
            <label> Precio del Producto ($)</label>
            <input id = "valorfactura" type="text" th:field = "*{valorFactura}"/>             
            <br/> <br/>               
            <button type = "submit">Agregar Factura</button>
        </form>
    </body>
</html>-->
