<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Listado Facturas</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div>
    <div th:insert="fragments/nav :: nav"></div>
    <div class="container" style="padding-top: 10vh; display: flex; flex-direction: column; align-items: center;">
        <!--<h3>Welcome <span th:text=" ${user.getFullName()}"></span></h3>-->
        <h3>Listado de las facturas disponibles </h3>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th> No.Fac   </th>
                    <th> Cod.Prod </th>
                    <th> Fecha    </th>
                    <th> Cod.Vend </th>
                    <th> Valor Factura </th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="factura: ${facturas}">
                <td th:text="${factura.numeroFactura}" />
                <td th:text="${factura.producto.codProducto}" />
                <td th:text="${factura.fechaVenta}" />
                <td th:text="${factura.vendedor.codVendedor}" />
                <td th:text="${factura.valorFactura}" />
                </tr>
            </tbody>
        </table>
        <div class="container" style="padding-top: 20vh; display: flex; flex-direction: column; align-items: center;">
            <a href="/crear/factura" class="btn btn-success btn-lg my-2">Agrega una factura</a>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>





<!--<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Listado Facturas</title>
        <meta charset="UTF-8"> </meta>
        
    </head>
    <body>
        <table>
            <caption>Lista de Facturas</caption>
            <tr>
                <th> No.Fac   </th>
                <th> Cod.Prod </th>
                <th> Fecha    </th>
                <th> Cod.Vend </th>
                <th> Valor Factura </th>
            </tr>            
            <tr th:each="factura: ${facturas}">
                <td th:text="${factura.numeroFactura}" />
                <td th:text="${factura.producto.codProducto}" />
                <td th:text="${factura.fechaVenta}" />
                <td th:text="${factura.vendedor.codVendedor}" />
                <td th:text="${factura.valorFactura}" />
            </tr>
        </table>
    </body>
</html>-->
