<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Editar Producto</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div>
    <div th:insert="fragments/nav :: nav"></div>
        <div class="container" style="padding-top: 10vh; display: flex; flex-direction: column; align-items: center;">
            <div class="container">
      <h1 style="text-align: center;">Editar un producto</h1>
      <h2 style="text-align: center;">Llena todos los campos y al finalizar da clic en "Editar producto"</h2>

     
                <div class="row">
                    <div class="form-group col-sm">

        <form action="#" th:action = "@{/editar/producto/{id}(id=${producto.codProducto})}" th:object="${producto}" method="post" class="text" >

          <label for="Datos Producto"><strong>Datos Producto</strong></label><br/>
          
          <label for="codigoproducto">¿Cuál es el código del producto?</label><br/>
          <input type="text" class="form-control" id="codigoproducto" aria-describedby="codproducto" placeholder="Código del producto" th:field ="*{codProducto}" name = 'cod_vendedor' required>
          <br>
          <label for="nombreproducto">¿Cuál es el nombre del producto?</label><br/>
          <input id="nombreproducto" type="text" class="form-control" placeholder="Nombre producto" name = 'nombre' th:field = "*{nombreProducto}" required>
          <br/>
          <label for="descripcionproducto">¿Cuál es la descripción del producto?</label><br/>
          <input id="descripcionproducto" type="text" class="form-control" placeholder="Descripción" name = 'descripcion' th:field = "*{descripcionProducto}" required>
          <br/>
          <label for="precioproducto">¿Cuál es el precio del producto?</label><br/>
          <input id="precioproducto" type="text" class="form-control" placeholder="Precio" name = 'precio' th:field = "*{precioProducto}" required>
          <br/>
          <div class="text-center">
                <button class="btn btn-success" type = "submit">Editar Producto</button>
                <br>
                <br>
                <a class="btn btn-danger" href = "/productos" role="button">Cancelar</a>
          </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>