<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Editar Vendedor</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div>
    <div th:insert="fragments/nav :: nav"></div>
        <div class="container" style="padding-top: 10vh; display: flex; flex-direction: column; align-items: center;">
            <div class="container">
      <h1 style="text-align: center;">Editar un vendedor</h1>
      <h2 style="text-align: center;">Llena todos los campos y al finalizar da clic en "Editar vendedor"</h2>

     
                <div class="row">
                    <div class="form-group col-sm">

        <form action="#" th:action = "@{/editar/vendedor/{id}(id=${vendedor.codVendedor})}" th:object="${vendedor}" method="post" class="text" >

          <label for="Datos Vendedor"><strong>Datos Vendedor</strong></label><br/>
          
          <label for="codigovendedor">¿Cuál es el código del vendedor?</label><br/>
          <input type="text" class="form-control" id="codigovendedor" aria-describedby="codvendedor" placeholder="Código del producto" th:field ="*{codVendedor}" name = 'cod_producto' required>
          <br>
          <label for="nombrevendedor">¿Cuál es el nombre del vendedor?</label><br/>
          <input id="nombrevendedor" type="text" class="form-control" placeholder="Nombre producto" name = 'nombre' th:field = "*{nombreVendedor}" required>
          <br/>
          <br/>
          <div class="text-center">
                <button class="btn btn-success" type = "submit">Editar Vendedor</button>
                <br>
                <br>
                <a class="btn btn-danger" href = "/vendedores" role="button">Cancelar</a>
          </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>