<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Listado de los Productos</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div>
    <div th:insert="fragments/nav :: nav"></div>
    <div class="container" style="padding-top: 10vh; display: flex; flex-direction: column; align-items: center;">
        <!--<h3>Welcome <span th:text=" ${user.getFullName()}"></span></h3>-->
        <h3>Listado de los productos disponibles</h3>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th> Código      </th>
                <th> Nombre      </th>
                <th> Descripción </th>
                <th> Precio      </th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="producto: ${productos}">
                <td th:text="${producto.codProducto}" />
                <td th:text="${producto.nombreProducto}" />
                <td th:text="${producto.descripcionProducto}" />
                <td th:text="${producto.precioProducto}" />
            </tr>
            </tbody>
        </table>
            <div class="container" style="padding-top: 20vh; display: flex; flex-direction: column; align-items: center;">
        <a href="/crear/producto" class="btn btn-success btn-lg my-2">Agrega un producto</a>
            </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>
<!--

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Listado Productos</title>
        <meta charset="UTF-8"> </meta>
        
    </head>
    <body>
        <div th:text="${productos}"></div>
        <table>
            <caption>Lista de Productos</caption>
            <tr>
                <th> Código      </th>
                <th> Nombre      </th>
                <th> Descripción </th>
                <th> Precio      </th>
            </tr>
            <tr th:each="producto: ${productos}">
                <td th:text="${producto.codProducto}" />
                <td th:text="${producto.nombreProducto}" />
                <td th:text="${producto.descripcionProducto}" />
                <td th:text="${producto.precioProducto}" />
            </tr>
        </table>
    </body>
</html>-->
