<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Listado de los Productos</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div>
    <div th:insert="fragments/nav :: nav"></div>
    <div class="container" style="padding-top: 10vh; display: flex; flex-direction: column; align-items: center;">
        <!--<h3>Welcome <span th:text=" ${user.getFullName()}"></span></h3>-->
        <h3>Listado de los Vendedores</h3>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th> Código</th>
                <th> Nombre Vendedor</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vendedor: ${vendedores}">
                <td th:text="${vendedor.codVendedor}" />
                <td th:text="${vendedor.nombreVendedor}" />
            </tr>
            </tbody>
        </table>
            <div class="container" style="padding-top: 20vh; display: flex; flex-direction: column; align-items: center;">
        <a href="/crear/vendedor" class="btn btn-success btn-lg my-2">Agrega un vendedor</a>
    </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>

<!--<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Consultar Vendedores</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>

<body>
    <h3>Listado de Vendedores</h3>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col"><strong>Código</strong></div>
                <div class="col"><strong>Nombre Vendedor</strong></div>
            </div>
        </div>
    </div>
    <div class="card" th:each="vendedor: ${vendedores}">
        <div class="card-body">
            <div class="row">
                <div class="col" th:text="${vendedor.codVendedor}"></div>
                <div class="col" th:text="${vendedor.nombreVendedor}"></div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>-->