<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Editar Factura</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div>
    <div th:insert="fragments/nav :: nav"></div>
        <div class="container" style="padding-top: 10vh; display: flex; flex-direction: column; align-items: center;">
            <div class="container">
      <h1 style="text-align: center;">Editar una factura</h1>
      <h2 style="text-align: center;">Llena todos los campos y al finalizar da clic en "Editar factura"</h2>
      <h3 style="text-align: center;">Asegúrese que los códigos de producto y vendedor ya existan</h3>

     
                <div class="row">
                    <div class="form-group col-sm">

        <form action="#" th:action = "@{/editar/factura/{id}(id=${factura.idVenta})}" th:object="${factura}" method="post" >

            <label for="Datos Producto"><strong>Datos Factura</strong></label><br/>
          
            <label for="numerofactura">¿Cuál es el número de la factura?</label><br/>
            <input type="text" class="form-control" id="numerofactura" aria-describedby="codproducto" placeholder="Ej. FAC005" th:field ="*{numeroFactura}" name = 'num_factura' required>
            <br>
          <label for="codigoproducto">¿Cuál es el código del producto?</label><br/>
            <input id="codigoproducto" type="text" class="form-control" placeholder="Código del producto" name = 'nombre' th:field = "*{producto}" required>
            <br/>
            <label for="fecha">¿Cuál es la fecha de la factura?</label><br/>
            <input id="fecha" type="date" class="form-control" name = 'fecha' th:field = "*{fechaVenta}" required>
            <br/>
            <label for="codigovendedor">¿Cuál es el código del vendedor?</label><br/>
            <input id="codigovendedor" type="text" class="form-control" placeholder="Cód. Vendedor" name = 'codigo' th:field = "*{vendedor}" required>
            <br/>
            <label for="valorfactura">¿Cuál es el valor de la factura?</label><br/>
            <input id="valorfactura" type="number" class="form-control" placeholder="Valor" name = 'codigo' th:field = "*{valorFactura}" required>
            <br/>
            <div class="text-center">
            <button class="btn btn-success" type = "submit">Editar Factura</button>
            <br>
            <br>
            <a class="btn btn-danger" href = "/facturas" role="button">Cancelar</a>
          </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>