<!DOCTYPE HTML>
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Quiénes somos?</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div>
    <div th:insert="fragments/nav :: nav"></div>
    <div class="text-light" style="background-image: url('https://source.unsplash.com/1920x1080/?coding');
                                   background-position: center; /* Center the image */
                                   background-repeat: no-repeat; /* Do not repeat the image */
                                   background-size: cover; /* Resize the background image to cover the entire container */
                                   position: absolute;
                                   left: 0;
                                   top: 0;
                                   opacity: 0.1;
                                   z-index: -1;
                                   min-height: 100vh;
                                   min-width: 100vw;">
    </div>

    <section class="team text-center">
   <div class="container" style="max-width: 50vw;">
     <div class="header my-5">
       <h1>Nuestro espectacular Team 5</h1>
       <p class="text-muted">Conoce los rostros detrás del desarrollo</p>
     </div>
     <div class="row">
       <div class="col-md-6 col-lg-4">
         <div class="img-block mb-5">
           <img src="andresard.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
           <div class="content mt-2">
             <h4>Andrés Ardila</h4>
             <p class="text-muted">Back-end Manager</p>
           </div>
         </div>
       </div>
       <div class="col-md-6 col-lg-4 ">
         <div class="img-block mb-5">
           <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
           <div class="content mt-2">
             <h4>Viviana Cerón</h4>
             <p class="text-muted">Programadora y SM</p>
           </div>
         </div>
       </div>
       <div class="col-md-6 col-lg-4">
         <div class="img-block mb-5">
           <img src="camdlc.png" class="img-fluid  img-thumbnail rounded-circle" alt="Camilo DLC">
           <div class="content mt-2">
             <h4>Camilo A. De la Cruz A.</h4>
             <p class="text-muted">Developer y vice SM</p>
           </div>
         </div>
       </div>
       <div class="col-md-6 col-lg-4">
         <div class="img-block mb-5">
           <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
           <div class="content mt-2">
             <h4>Andrés Girón</h4>
             <p class="text-muted">Cloud Developer</p>
           </div>
         </div>
       </div>
       <div class="col-md-6 col-lg-4">
         <div class="img-block mb-5">
           <img src="julio.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
           <div class="content mt-2">
             <h4>Julio Noguera</h4>
             <p class="text-muted">Story Teller</p>
           </div>
         </div>
       </div>
        <div class="col-md-6 col-lg-4">
         <div class="img-block mb-5">
           <img src="diego.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
           <div class="content mt-2">
             <h4>Diego</h4>
             <p class="text-muted">Artista Plástico</p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 
 
 <!-- credits: https://bootstrapcrew.com/snippets/team-members/ -->
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>