<!DOCTYPE HTML>
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bienvenidos</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div>
    <div th:insert="fragments/nav :: nav"></div>
    <div class="text-light" style="background-image: url('https://source.unsplash.com/1920x1080/?fruits');
                                   background-position: center; /* Center the image */
                                   background-repeat: no-repeat; /* Do not repeat the image */
                                   background-size: cover; /* Resize the background image to cover the entire container */
                                   position: absolute;
                                   left: 0;
                                   top: 0;
                                   opacity: 0.2;
                                   z-index: -1;
                                   min-height: 100vh;
                                   min-width: 100vw;">
    </div>

    <div class="container" style="padding-top: 20vh; display: flex; flex-direction: column; align-items: center;">
        <h1 class="display-3">Administración de su inventario.</h1>
        <p class="lead">En nuestra plataforma podrás manejar tus inventarios con facilidad.
            Puedes controlar tu base de datos: ver tus facturas, tus productos, tus clientes.
            También podrás actualizar, crear y eliminar registros.</p>
        <a href="/productos" class="btn btn-success btn-lg my-2">Ver sus productos</a>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>